
<script src="~/Scripts/MyScripts/IndexDataTableMM.js"></script>


<h2>Actions CCAR</h2>

@*<button  class="btn btn-outline-primary" onclick="blab()" )><i class="fa fa-plus-square"></i> kek</button>*@



<div class="container">
    <div class="row">
        <div class="col-lg-10" style="margin-left:100px;">
            <button id="addBtn2" class="btn btn-outline-info" onclick="Kespa('@Url.Action("MeetingMinutesDetails","MeetingMinutesDatesDetails")')" )><i class="fa fa-plus-square"></i> Add new meeting</button>
            <table id="meetingMinutesTable" class="table table-striped table-bordered" style="width:1600px;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date<br /></th>
                        <th>Project<br /></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Project Name<br /></th>
                    </tr>
                </tfoot>
            </table>

            <input type="hidden" id="DataUrl" value="@Url.Action("AddOrEdit","MeetingMinutes")" />
            <input type="hidden" id="DeleteUrl" value="@Url.Action("Delete","MeetingMinutes")" />
        </div>
    </div>
</div>
