@model ccar.Models.DatePickerModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid AddSearchEdit">

    <div class="row">
        <div class="col-lg-8">
            <button type="button" class="btn btn-info" id="myBtn"><span class="glyphicon glyphicon-plus"></span> DODAJ ZADANIE</button>
            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-erase"></span>WYCZYŚĆ FILTRY</button>
        </div>
        <div class="searcher col-lg-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input id="email" type="text" class="form-control" name="email" placeholder="Search...">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr class="rowMain">
                <th>Id</th>
                <th>Reason</th>
                <th>Initiator</th>
                <th>Date create</th>
                <th>Type of action</th>
                <th>Issue</th>
                <th>Root cause</th>
                <th>Corrective action</th>
                <th>Responsible</th>
                <th>Target date</th>
                <th>Progress</th>
                <th>Real date</th>
                <th>Efficiency meas.</th>
                <th>Date of effic.</th>
                <th>Actions</th>
            </tr>
        </thead>
       
        
        <tbody>

            <!--ROW-->
            <tr>
                <!-- id -->
                <td>1</td>
                <!-- Reason-->
                <td class="col-md-1">Lack of clips on latches</td>
                <!-- Initiator-->
                <td class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Dropdown header 1</li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header 2</li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Date create-->
                <td>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                </td>
                <!-- Type of action -->
                <td class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Type:</li>
                            <li><a href="#">D</a></li>
                            <li><a href="#">S</a></li>
                            <li><a href="#">Cor.</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Issue-->
                <td>No clips at customer</td>
                <!-- Root cause-->
                <td class="col-md-1">Machine not able to detect lack of clips</td>
                <!-- Corrective action-->
                <td>Additional sensor on the machines</td>
                <!-- Responsible-->
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Dropdown header 1</li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header 2</li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Target Date-->
                <td>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                </td>
                <!-- Progress-->
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove-sign" id="remove"></span></button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-question-sign"></span></button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                </td>
                <td>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                </td>
                <!-- Efficiency meas.-->
                <td>
                    1
                </td>
                <!-- Date effic.-->
                <td>
                    yes
                </td>
                <!-- Actions-->
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
            <!--ROW-->
            <!--ROW-->
            <tr>
                <!-- id -->
                <td>1</td>
                <!-- Reason-->
                <td class="col-md-1">Lack of clips on latches</td>
                <!-- Initiator-->
                <td class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Dropdown header 1</li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header 2</li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Date create-->
                <td>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                </td>
                <!-- Type of action -->
                <td class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Type:</li>
                            <li><a href="#">D</a></li>
                            <li><a href="#">S</a></li>
                            <li><a href="#">Cor.</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Issue-->
                <td>No clips at customer</td>
                <!-- Root cause-->
                <td class="col-md-1">Machine not able to detect lack of clips</td>
                <!-- Corrective action-->
                <td>Additional sensor on the machines</td>
                <!-- Responsible-->
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Dropdown header 1</li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header 2</li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Target Date-->
                <td>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                </td>
                <!-- Progress-->
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove-sign" id="remove"></span></button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-question-sign"></span></button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                </td>
                <td>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                </td>
                <!-- Efficiency meas.-->
                <td>
                    1
                </td>
                <!-- Date effic.-->
                <td>
                    yes
                </td>
                <!-- Actions-->
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
            <!--ROW-->
            <!--ROW-->
            <tr>
                <!-- id -->
                <td>1</td>
                <!-- Reason-->
                <td class="col-md-1">Lack of clips on latches</td>
                <!-- Initiator-->
                <td class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Dropdown header 1</li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header 2</li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Date create-->
                <td>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                </td>
                <!-- Type of action -->
                <td class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Type:</li>
                            <li><a href="#">D</a></li>
                            <li><a href="#">S</a></li>
                            <li><a href="#">Cor.</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Issue-->
                <td>No clips at customer</td>
                <!-- Root cause-->
                <td class="col-md-1">Machine not able to detect lack of clips</td>
                <!-- Corrective action-->
                <td>Additional sensor on the machines</td>
                <!-- Responsible-->
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Dropdown header 1</li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header 2</li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Target Date-->
                <td>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                </td>
                <!-- Progress-->
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove-sign" id="remove"></span></button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-question-sign"></span></button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                </td>
                <td>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                </td>
                <!-- Efficiency meas.-->
                <td>
                    1
                </td>
                <!-- Date effic.-->
                <td>
                    yes
                </td>
                <!-- Actions-->
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
            <!--ROW-->
            <!--ROW-->
            <tr>
                <!-- id -->
                <td>1</td>
                <!-- Reason-->
                <td class="col-md-1">Lack of clips on latches</td>
                <!-- Initiator-->
                <td class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Dropdown header 1</li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header 2</li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Date create-->
                <td>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                </td>
                <!-- Type of action -->
                <td class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Type:</li>
                            <li><a href="#">D</a></li>
                            <li><a href="#">S</a></li>
                            <li><a href="#">Cor.</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Issue-->
                <td>No clips at customer</td>
                <!-- Root cause-->
                <td class="col-md-1">Machine not able to detect lack of clips</td>
                <!-- Corrective action-->
                <td>Additional sensor on the machines</td>
                <!-- Responsible-->
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Dropdown header 1</li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header 2</li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Target Date-->
                <td>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                </td>
                <!-- Progress-->
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove-sign" id="remove"></span></button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-question-sign"></span></button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                </td>
                <td>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                </td>
                <!-- Efficiency meas.-->
                <td>
                    1
                </td>
                <!-- Date effic.-->
                <td>
                    yes
                </td>
                <!-- Actions-->
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
            <!--ROW-->

        </tbody>
    </table>
</div>



    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>

                </div>
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                                    <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                                    <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                                    <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">1</div>
                            <div class="col-lg-4">2</div>
                            <div class="col-lg-4">3</div>
                        </div>
                        <div class="row">
                            ...
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>




@section scripts{
    <script>
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker3').click({
                pickDate: false
            });
        });
    </script>
}

<!-- progress bars
<div class="container">
    <div class="row">
        <br />
        <div class="col-md-12">
            <div class="progress">
                <div class="one primary-color"></div><div class="two primary-color"></div><div class="three no-color"></div>
                <div class="progress-bar" style="width: 70%;"></div>
            </div>
            <hr />
            <div class="progress">
                <div class="one success-color"></div><div class="two success-color"></div><div class="three success-color"></div>
                <div class="progress-bar progress-bar-success" style="width: 100%"></div>
            </div>
            <hr />
            <div class="progress">
                <div class="one danger-color"></div><div class="two no-color"></div><div class="three no-color"></div>
                <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
            </div>
            <hr />
            <div class="progress">
                <div class="one warning-color"></div><div class="two warning-color"></div><div class="three no-color"></div>
                <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
            </div>
            <hr />
            <div class="progress">
                <div class="one info-color"></div><div class="two no-color"></div><div class="three no-color"></div>
                <div class="progress-bar progress-bar-info" style="width: 35%"></div>
            </div>
    <script type="text/javascript">
    $(function () {
        $('#datetimepicker3').datetimepicker({
            pickDate: false
        });
    });
</script>


        </div>
    </div>
</div>
    -->
