
.star {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
;
}

/* Set padding to keep content from hitting the edges */
.body-content {
 padding:40px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.blah{
    color:red;

}
.addPng {
    background-color: #adc1c9;
}
.heading {
    font-weight: bold;
    font-size: 24px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.submitEdit{
    background-color: greenyellow;
}
.submitDelete {
    background-color: red;
}
.submitCreate {
    background-color: yellow;
}
.thList {
    background-color: aquamarine;
    text-align: center;
}
.success {
    width: 600px;
}
#particles-js {
    width: 100%;
    height: 100%;
    background-color: #92aff5;
    /*background-position: center;*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#signupbox{
    text-decoration-color:red !important;
}
#main {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.panel-heading {
    /*background-color: #777782 !important;*/
    color: white !important;
    background-color: darkslateblue !important;
}
.validatorsCss{
    margin-bottom:5px;
}
.panel-heading a {
    color: white !important;
}
.panel-info {
    border-color: #777782 !important;
}
.addBtn {
    margin-bottom: 30px !important;
    margin-bottom: 40px !important;
    background-color: lightskyblue !important;
    color: white !important;
    height: 50px !important;
    width: 200px !important;
    font-size: 18px !important;
}
.addBtnLayout {

    background-color: darkslategrey !important;
}
.completedBtn {
    margin-bottom: 30px !important;
    margin-bottom: 40px !important;
    background-color: lightgreen !important;
    color: white !important;
    height: 50px !important;
    width: 200px !important;
    font-size: 18px !important;
}
.completedBtnLayout {
    background-color: cornflowerblue !important;
}

#backBtn {
    margin-bottom: 30px !important;
    margin-bottom: 40px !important;
    background-color: lightsalmon !important;
    color: white !important;
    height: 50px !important;
    width: 200px !important;
    font-size: 18px !important;
}

@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
#addBtn2 {
    margin-bottom: 10px !important;
    background-color: deepskyblue !important;
    color: white !important;
    height: 50px !important;
    width: 250px !important;
    font-size: 18px !important;
}
.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.notifyjs-happyblue-base {
    white-space: nowrap;
    background-color: lightblue;
    padding: 5px;
}

.notifyjs-happyblue-superblue {
    color: white;
    background-color: blue;
}
.selected {
    background-color: green !important;
}

.bad {
    background-color: red !important;
}
#edit {
    background-color: darkseagreen;
    color:whitesmoke;
}
#delete {
    background-color: indianred;
    color: whitesmoke;
}
.text-danger {
    color: red !important;
}
/*.field-validation-error {
    color: red !important;
}*/
.koko {
    color: red !important;
}
.cb-dropdown-wrap {
    max-height: 80px; /* At most, around 3/4 visible items. */
    position: relative;
    height: 19px;
}

.cb-dropdown,
.cb-dropdown li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cb-dropdown {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    border: 1px solid #888;
}

/* For selected filter. */
.active .cb-dropdown {
    background: pink;
}

.cb-dropdown-wrap:hover .cb-dropdown {
    height: 80px;
    overflow: auto;
    transition: 0.2s height ease-in-out;
}

/* For selected items. */
.cb-dropdown li.active {
    background: #ff0;
}

.cb-dropdown li label {
    display: block;
    position: relative;
    cursor: pointer;
    line-height: 19px; /* Match height of .cb-dropdown-wrap */
}

    .cb-dropdown li label > input {
        position: absolute;
        right: 0;
        top: 0;
        width: 16px;
    }

    .cb-dropdown li label > span {
        display: block;
        margin-left: 3px;
        margin-right: 20px; /* At least, width of the checkbox. */
        font-family: sans-serif;
        font-size: 0.8em;
        font-weight: normal;
        text-align: left;
    }

/* This fixes the vertical aligning of the sorting icon. */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-position: 100% 10px;
}
.navbar-toggle {
    width: 800px !important;
}
.begin {
    background-color: red !important;
}
.inprogres {
    background-color: #f3b010 !important;
}
.done {
    background-color: #cf0 !important;
}
/*.vGood {
    background-color: #9f0 !important;
}

.good {
    background-color: #cf0 !important;
}

.avg {
    background-color: #fd0 !important;
}

.poor {
    background-color: #fa0 !important;
}

.vPoor {
    background-color: #f30 !important;
}*/
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;

}

tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

#meetingMinutesTable {
    width: 900px !important;
}
.my-4 {
    margin-top: 0px !important;
    height: 290px;
}
.navbar-brand {
    height:60px;
    width:60px;
    padding:-20px;
    background: url('../images/brandLogo.gif') no-repeat center center;
    background-size:cover;
}
#ccar {
    background-image: url('../images/checklist.png');
}
.movedLeft {
    margin-left:60px;
}
ul.nav.nav-tabs {
    margin: 0px;
}
ul.nav.nav-tabs li:not(.active) a{
    background-color:lightskyblue;
    color: grey;
}
ul.nav.nav-tabs li.active a {
    border-top: 3px solid #fbdf33
}
.row {
    margin-top: 40px;
    padding: 0 10px;
}
.clickable {
    cursor: pointer;
}
.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.meetings {
   color: black;
}

.form-group {
    margin-bottom: -25px !important;
}

body {
  
    background: #eee;
}

.card::after {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 35px;
    background-color: #fff;
    -webkit-box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
    box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
    content: '';
    z-index: -1;
}

a.card {
    text-decoration: none;
}

.card {
    position: relative;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.box-shadow {
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.bg-white {
    background-color: #fff !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.d-block {
    display: block !important;
}

img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.card-text {
    padding-top: 12px;
    color: #8c8c8c;
}

.text-sm {
    font-size: 12px !important;
}

p, .p {
    margin: 0 0 16px;
}

.card-title {
    margin: 0;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.pt-1, .py-1 {
    padding-top: .25rem !important;
}

.head-icon {
    margin-top: 18px;
    color: #FF4500;
}
.rounded-circle {
    height: 90px;
    margin-top: -45px;
    width: 90px;
}
#circle1st {
    background: url('../images/vw3.png');
    background-position: center !important;
    background-size: contain !important;
}
#circle2nd {
    background: url('../images/vw3.png');
    background-position: center !important;
    background-size: contain !important;
}
#circle3rd {
    background: url('../images/vw3.png');
    background-position: center !important;
    background-size: contain !important;
}
#circle4th {
    background: url('../images/skoda.png');
    background-position: center !important;
    background-size: contain !important;
}
.shortDesc{
    min-height:80px;
}
#reunion {
    background: url('../images/reunion.png');
    background-position: center !important;
    background-size: contain !important;
}
#checklist {
    background: url('../images/checklist.png');
    background-position: center !important;
    background-size: contain !important;
}
.goomeetings 
{
    margin-bottom: 30px !important;
    margin-bottom: 40px !important;
    background-color: lightcoral !important;
    color: white !important;
    height: 50px !important;
    width: 200px !important;
    font-size: 18px !important;
}
