body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.AddSearchEdit {
    margin-top: 20px;
    margin-bottom:40px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.table-hover{
    width:100%;
    margin:auto;
    font-size:12px;
}
.btn-primary {
    max-width: 50px;
    margin-right: 0px;
    text-align: center;
    align-content:center;
    font-size:14px;
}
.btn-info {
    min-width: 200px;
}
#actionsBtn{
    width:100px;
}
#edit {
    background-color: lightgreen;
    border-color:darkgreen;
    width:50px;
    margin:0;
}
#view {
    background-color: deepskyblue;
    border-color: darkblue;
    width: 50px;
    margin: 0;
}
#trash {
    background-color: indianred;
    border-color: darkred;
    margin:0;
    width:50px;
}
#issue{
    width:200px;
    text-align:left;
}
#action{
    width:auto;
    align-content:center;
}
#incomplete{
    margin:0;
    font-size:12px;
}
#inprogress {
    margin: 0;
    font-size: 12px;
}
#complete {
    margin: 0;
    font-size: 12px;
}
.searcher{
    align-content:center;
}
.dropdown-menu{
    font-size:12px;
}



