body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Tahoma;

}
.AddSearchEdit {
    margin-top: 20px;
    margin-bottom:40px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 280px;
}
.table-hover{
    width:100%;
    margin:auto;
}

.btn-info {
    min-width: 200px;
}
#actionsBtn{
    width:100px;
}

#datetimepicker3{
    width:80px;
}
.table td,th {
    text-align: center;
    font-size: 12px;
}
.modal-header, h4, .close {
    background-color: cadetblue;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}
.modal-dialog {
    min-width: 1000px;
    margin-top: 40px !important;
    margin: auto;
}







