@model IEnumerable<ccar.User>


<table class="table-bordered">
    <tr>
        <th class="thList">
            <p >Attendance list</p>
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)  @Html.DisplayFor(modelItem => item.surname)
        </td>
      

    </tr>
}
</table>
