
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Layout List";
}

<script src="~/Scripts/MyScripts/Meetings.js"></script>

<div class="container">

    <div class="row">
        <div class="col-lg-10" style="margin-left:-210px;">


            @*<button  class="btn btn-outline-primary" onclick="blab()" )><i class="fa fa-plus-square"></i> kek</button>*@

            <button class="btn btn-outline-primary completedBtn" onclick="location.href='@Url.Action("Index2", "Action")'" )><i class="fa fa-check"></i> Show completed</button>

            <table id="actionMeetings" class="table table-striped table-bordered" style="width:1600px;">
                <thead>
                    <tr>

                        @*<th>Reason</th>*@
                        <th>Reason</th>
                        <th>Origination Date</th>
                        <th>Initiator</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>

                        @*<th>Reason</th>*@
                        <th>Reason</th>
                        <th>Origination Date</th>
                        <th>Initiator</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>


<input type="hidden" id="DataUrl" value="@Url.Action("AddOrEdit","layout")" />
<input type="hidden" id="DeleteUrl" value="@Url.Action("Delete","layout")" />

