@model ccar.Models.ActionMeetingsModel

@{
    /**/

    Layout = null;
}


<table cellpadding="1" cellspacing="0" border="0" style="padding-left:50px;font-size:13px; padding:0px;">
    <tr>
        <td>Attendance list</td>
        <td>@Html.DisplayFor(model => model.attendanceList)</td>
    </tr>
</table>



