<?xml version="1.0"?>
<!--
  Aby uzyskać więcej informacji o sposobie konfigurowania aplikacji ASP.NET, odwiedź stronę
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    Aby uzyskać opis zmian pliku web.config, zobacz http://go.microsoft.com/fwlink/?LinkId=235367.

    Następujące atrybuty mogą zostać ustawione przy użyciu tagu <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Logowanie" timeout="2280"/>
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension="."/>
          <add fileExtension="." allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.codedom/>
  <system.net>
    <!--<mailSettings>
      <smtp from="kowalski.jan567890@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" defaultCredentials="false" enableSsl="true" userName="kowalski.jan567890@gmail.com" password="alamakota123" />
      </smtp>
    </mailSettings>-->
    <mailSettings>
      <smtp from="ccar@system.com">
        <network host="172.25.120.139" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--  <add name="ccarEntities" connectionString="metadata=res://*/ccarDaneEF.csdl|res://*/ccarDaneEF.ssdl|res://*/ccarDaneEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SLSVMDB01;Initial Catalog=ccar;User Id=MoldTracker;Password=P1r4m1d4;integrated security=False;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  <add name="ccarMeetingMinutesEntities" connectionString="metadata=res://*/ccarMMdaneEF.csdl|res://*/ccarMMdaneEF.ssdl|res://*/ccarMMdaneEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SLSVMDB01;initial catalog=ccarMeetingMinutes;persist security info=True;user id=MoldTracker;password=P1r4m1d4;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>-->
   <add name="ccarEntities" connectionString="metadata=res://*/ccarDaneEF.csdl|res://*/ccarDaneEF.ssdl|res://*/ccarDaneEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8VMCQ20\SQLSERVER14;initial catalog=ccar;User Id=sa;Password=kuba1234;integrated security=False;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ccarMeetingMinutesEntities" connectionString="metadata=res://*/ccarMMdaneEF.csdl|res://*/ccarMMdaneEF.ssdl|res://*/ccarMMdaneEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8VMCQ20\SQLSERVER14;initial catalog=ccarMeetingMinutes;user id=sa;password=kuba1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>