@*@model ccar.actions


@if (Model.users.email == User.Identity.Name || ccar.Models.ResponsibleModel.getEmailAdress(Model.idResponsible) == User.Identity.Name)
{*@
    <a class='btn1 btn btn-default btn-sm'  onclick=Kespa('@Url.Action("AddOrEdit","action",new { id=ViewBag.id, showReas=true })')><i class='fa fa-pencil'></i> Edit</a>
    <a class='btn2 btn btn-danger btn-sm' style='margin-left:5px' onclick="Delete('@ViewBag.id','@Url.Action("Delete","action")')")><i class='fa fa-trash'></i> Delete</a>
@*}*@

