
@{
    ViewBag.Title = "action List";
}
<script src="~/Scripts/MyScripts/IndexDataTable.js"></script>



<h2>Actions CCAR</h2>

<button id="addBtn" class="btn btn-outline-primary" onclick="Kespa('@Url.Action("AddOrEdit","Action")')" )><i class="fa fa-plus-square"></i> Add new action</button>
@*<button  class="btn btn-outline-primary" onclick="blab()" )><i class="fa fa-plus-square"></i> kek</button>*@


<body>
    <table id="actionTable" class="table table-striped table-bordered" style="width:1600px;">
        <thead>
            <tr>
                <th></th>
                <th>Initiator</th>
                <th>Reason</th>
                <th>Problem</th>
                <th>Origination Date</th>
                <th>Target Date</th>
                <th>Completion Date</th>
                <th>Rsponsible</th>
                <th id="score">Progress<br></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Initiator</th>
                <th>Reason</th>
                <th>Problem</th>
                <th>Origination Date</th>
                <th>Target Date</th>
                <th>Completion Date</th>
                <th>Rsponsible</th>
                <th id="score">Progress<br></th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</body>


<input type="hidden" id="DataUrl" value="@Url.Action("AddOrEdit","action")" />
<input type="hidden" id="DeleteUrl" value="@Url.Action("Delete","action")" />

