@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="https://kit.fontawesome.com/3be8e21782.js" crossorigin="anonymous"></script>*@

@*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@
<section class="container pt-3 mb-3">

    <div class="row pt-5 mt-30">
        <div class="col-lg-6 col-sm-6 mb-60 pb-5">
            @*<a class="card" href="@Url.Action( "Index", "ActionMeetings" )">*@
                <a class="card" href="@Url.Action( "Index", "ActionMeetings" )">
                    <div class="box-shadow bg-white mx-auto text-center rounded-circle ;" id="reunion"></div>

                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">CREATE MEETING</h3>
                        <h4>Create, edit, manage your meetings.</h4>

                        <i class="fa fa-arrow-circle-down fa-5x"></i>
                    </div>
                </a>
        </div>
        <div class="col-lg-6 col-sm-6 mb-60 pb-5">
            <a class="card" href="@Url.Action("General", "Action")">
                <div class="box-shadow bg-white  mx-auto text-center rounded-circle " id="checklist"></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">CCAR</h3>
                    <h4>Create, edit, manage your task list</h4>
                    <i class="fa fa-arrow-circle-down fa-5x"></i>

                </div>
            </a>
        </div>
    </div>

</section>

