<p></p>
<p></p>
<center>
    <table class="Contenedor" cellspacing="0" cellpadding="0" style="height: 301px; border: 1px solid black;" width="902">
        <tbody>
            <tr style="height: 123px;">
                <td style="width: 936px; height: 123px;">
                    <table class="ContenedorEmb" cellspacing="0" cellpadding="0" style="width: 543px;">
                        <tbody>
                            <tr>
                                <td width="220" style="text-align: center; width: 310px;"><img src="https://extranet.grupoantolin.com/Newsletter/Image/grupo_antolin.jpg" alt="Grupo Antolin" /></td>
                                <td style="width: 298px;">
                                    <center>
                                        <p class="Enlace"><span span="" style="color: #448bc2; font-size: 72px; font-family: Arial;">CCAR</span></p>
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="height: 25px;">
                <td style="width: 936px; height: 25px;"><img src="https://extranet.grupoantolin.com/Newsletter/Image/line.png" style="margin-top: 5px; border: 1px solid black;" /></td>
            </tr>
            <tr style="height: 116px;">
                <td style="width: 936px; height: 116px;">
                    <table class="ContenedorEmb" cellspacing="0" cellpadding="1" style="width: 834px;">
                        <tbody>
                            <tr>
                                <td style="vertical-align: top; width: 9px;"></td>
                                <td style="vertical-align: top; width: 888px;">
                                    <p class="Enlace"><span span="" style="color: #448bc2; font-weight: bold; font-family: Arial;">Activation link:</span></p>
                                    <p class="Enlace"><span span="" style="color: #bb0cc4; font-weight: bold; font-family: Arial;">{link}</span></p>
                                    <span class="Comentarios"><span style="color: #448bc2; font-family: Arial; font-weight: bold;">#CCAR: </span><span style="font-family: Arial; font-weight: bold;">This link is one time generated. Use it only once, do not share<br /> this link with anyone else.</span> </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="height: 25px;">
                <td style="width: 936px; height: 25px;"><img src="https://extranet.grupoantolin.com/Newsletter/Image/line.png" style="margin-top: 5px;" /></td>
                <td style="width: 10px; height: 25px;">
                    <table class="ContenedorEmb" cellspacing="0" cellpadding="1">
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
            <tr style="height: 116px;">
                <td style="width: 936px; height: 10px;">
                    <table class="ContenedorEmb" cellspacing="0" cellpadding="1" style="width: 889px; height: 41px;" height="65">
                        <tbody>
                            <tr style="height: 37px;">
                                <td style="vertical-align: top; width: 6px; height: 10px;"></td>
                                <td width="220" style="text-align: left; width: 91px; height: 24px;"><img src="http://172.25.193.36/images/chrome.png" alt="Grupo Antolin" width="52" height="53" /></td>
                                <td style="vertical-align: top; width: 1093px; height: 10px;">
                                    <p><span class="Comentarios"><span style="color: #eb4034; font-family: Arial; font-weight: bold; font-size: 24px;">#CCAR: </span><span style="font-family: Arial; font-weight: bold; font-size: 24px;">Please use Chrome Browser as the most compatibile.<br /></span></span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</center>