<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="float:left;">

    <p></p>
    <center>
        <table class="Contenedor" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        <table class="ContenedorEmb" cellspacing="0" cellpadding="0" style="width: 543px;">
                            <tbody>
                                <tr>
                                    <td width="220" style="text-align: left; width: 271px;"><img src="https://extranet.grupoantolin.com/Newsletter/Image/grupo_antolin.jpg" alt="Grupo Antolin" /></td>
                                    <td style="width: 272px;">
                                        <center>
                                            <p class="Enlace"><span span="" style="color: #448bc2; font-size: 72px; font-family: Arial;">CCAR</span></p>
                                        </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><img src="https://extranet.grupoantolin.com/Newsletter/Image/line.png" style="margin-top: 5px;" /></td>
                </tr>
                <tr>
                    <td>
                        <table class="ContenedorEmb" cellspacing="0" cellpadding="1">
                            <tbody>

                                <tr>
                                    <td style="vertical-align: top;">
                                        <a href="http://beone.grupoantolin.com/communication/Lists/MarketingNews/Detail.aspx?InitialTabId=Ribbon.Read&amp;ID=307954&amp;CurrentLanguage=EN" class="Enlace">
                                            <!-- Tutaj img recovery password-->

                                            <img src="" width="330" height="205" class="Image" />
                                        </a>
                                    </td>
                                    <td class="Espaciado"></td>
                                    <td style="vertical-align: top;">
                                        <a href="http://beone.grupoantolin.com/communication/Lists/MarketingNews/Detail.aspx?InitialTabId=Ribbon.Read&amp;ID=307954&amp;CurrentLanguage=ES" class="Enlace"><span class="TituloAzul"></span></a> <br />
                                        <p class="Enlace"><span span="" style="color: #448bc2; font-weight: bold; font-family: Arial;">Activation link:</span></p>
                                        <p class="Enlace"><span span="" style="color: #bb0cc4; font-weight: bold;font-family: Arial;">{link}</span></p>
                                        <br /><br /><span class="Comentarios"><span style="color: #448bc2; font-family: Arial; font-weight: bold;">#CCAR: </span><span style=" font-family: Arial; font-weight: bold;">This link is one time generated. Use it only once, do not share<br /> this code with anyone else.</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><img src="https://extranet.grupoantolin.com/Newsletter/Image/line.png" style="margin-top: 5px;" /></td>
                    <td>
                        <table class="ContenedorEmb" cellspacing="0" cellpadding="1">
                            <tbody></tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>