<p></p>
<div>
    <p></p>
</div>
<div>
    <center>
        <table class="Contenedor" cellspacing="0" cellpadding="0" style="height: 284px; border: 1px solid black;" width="906">
            <tbody>
                <tr style="height: 20px; border: 1px solid black;">
                    <td style="width: 287px; height: 20px; border: 1px solid black;">
                        <center>
                            <p class="Enlace"><span span="" style="color: #448bc2; font-size: 12px; font-family: Arial;">CCAR action created on: {d}</span></p>
                        </center>
                    </td>
                </tr>
                <tr style="height: 125px; border: 1px solid black;">
                    <td style="height: 79px; width: 10px;">
                        <table class="ContenedorEmb" cellspacing="0" cellpadding="0" style="width: 566px;" height="136">
                            <tbody>
                                <tr style="height: 140px; border: 1px solid black;">
                                    <td style="text-align: center; width: 336px; height: 140px;"><img src="https://extranet.grupoantolin.com/Newsletter/Image/grupo_antolin.jpg" alt="Grupo Antolin" /></td>
                                    <td style="width: 293px; height: 140px;">
                                        <center>
                                            <p class="Enlace"><span span="" style="color: #448bc2; font-size: 28px; font-family: Arial;">CCAR - layout action</span></p>
                                        </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr style="height: 23px; border: 1px solid black;">
                    <td style="height: 23px; width: 10px; border: 1px solid black;"><img src="https://extranet.grupoantolin.com/Newsletter/Image/line.png" style="margin-top: 5px;" width="925" height="12" /></td>
                </tr>
                <tr style="height: 46px; border: 1px solid black;">
                    <td style="height: 46px; width: 10px; border: 1px solid black;">
                        <table class="ContenedorEmb" cellspacing="0" cellpadding="1" style="height: 36px;">
                            <tbody>
                                <tr style="height: 18px; border: 1px solid black;">
                                    <td style="width: 500px; height: 18px; border: 1px solid black; background-color: lightblue; font-family: Arial; font-weight: bold; font-size: 16px; text-align: center;">Initiator</td>
                                    <td style="width: 500px; height: 18px; border: 1px solid black; background-color: lightblue; font-family: Arial; font-weight: bold; font-size: 16px; text-align: center;">Issue</td>
                                </tr>
                                <!--General Motors-->
                                <tr style="vertical-align: top;">
                                    <td style="width: 336px; height: 18px; border: 1px solid black; text-align: center; font-family: Arial;">{Initiator}</td>
                                    <td style="width: 293px; height: 18px; border: 1px solid black; text-align: center; font-family: Arial;">{Reason}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr style="height: 46px; border: 1px solid black;">
                    <td style="height: 46px; width: 10px; border: 1px solid black;">
                        <table class="ContenedorEmb" cellspacing="0" cellpadding="1">
                            <tbody>
                                <tr>
                                    <td style="width: 336px; border: 1px solid black; background-color: lightblue; font-family: Arial; font-weight: bold; font-size: 16px; text-align: center;">Responsible</td>
                                    <td style="width: 292px; border: 1px solid black; background-color: lightblue; font-family: Arial; font-weight: bold; font-size: 16px; text-align: center;">Target date</td>

                                </tr>
                                <!--General Motors-->
                                <tr style="vertical-align: top;">
                                    <td style="width: 500px; border: 1px solid black; text-align: center; font-family: Arial;">{Responsible}</td>
                                    <td style="width: 500px; border: 1px solid black; text-align: center; font-family: Arial;">{TargetDate}</td>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr style="height: 46px; border: 1px solid black;">
                    <td style="height: 46px; width: 10px; border: 1px solid black;">
                        <table class="ContenedorEmb" cellspacing="0" cellpadding="1">
                            <tbody>
                                <tr>
                                    <td style="width: 1000px; border: 1px solid black; background-color: lightblue; font-family: Arial; font-weight: bold; font-size: 16px; text-align: center;">Task description</td>


                                </tr>
                                <!--General Motors-->
                                <tr style="vertical-align: top;">
                                    <td style="width: 1000px; border: 1px solid black; text-align: center; font-family: Arial;">{Problem}</td>


                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr style="height: 24px;">
                    <td style="height: 24px; width: 10px; border: 1px solid black;">
                        <table cellspacing="0" cellpadding="1" style="height: 33px;">
                            <tbody>
                                <tr style="height: 23px;">
                                    <td style="height: 23px; width: 824px;"><img src="https://extranet.grupoantolin.com/Newsletter/Image/line.png" style="margin-top: 5px;" width="925" height="13" /></td>
                                </tr>
                                <tr style="height: 116px;">
                                    <td style="width: 824px; height: 10px; border: 1px solid black;">
                                        <table class="ContenedorEmb" cellspacing="0" cellpadding="1" style="width: 919px; height: 115px;" height="65">
                                            <tbody>
                                                <tr style="height: 37px;">
                                                    <td style="text-align: left; width: 89px; height: 10px;"><img src="http://172.25.193.36/images/register.png" alt="Grupo Antolin" width="52" height="53" /></td>
                                                    <td style="vertical-align: top; width: 837px; height: 10px;">
                                                        <p><span class="Comentarios"><span style="color: #eb4034; font-family: Arial; font-weight: bold; font-size: 18px;">#CCAR: </span><span style="font-family: Arial; font-weight: bold; font-size: 18px;"><a href="http://172.25.193.36/">&gt;Click here to register your CCAR account<register your="" account="" in="" ccar="" system="" a=""><br /></register></a></span></span></p>
                                                    </td>
                                                </tr>
                                                <tr style="height: 37px;">
                                                    <td style="text-align: left; width: 89px; height: 10px;"><img src="http://172.25.193.36/images/chrome.png" alt="Grupo Antolin" width="52" height="53" /></td>
                                                    <td style="vertical-align: top; width: 837px; height: 10px;">
                                                        <p><span class="Comentarios"><span style="coalor: #eb4034; font-family: Arial; font-weight: bold; font-size: 18px;">#CCAR: </span><span style="font-family: Arial; font-weight: bold; font-size: 18px;">Please use Chrome Browser as the most compatibile.<br /></span></span></p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>